/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .headsection {
    background: #151515 none repeat scroll 0 0;
    max-height: 70px;
  }
  .logo{float:left;}
  .logo img{}
  .title {
    color: #fff;
    float: left;
  }
  .title span {
    font-weight: bold;
  }
  .title h2 {
    font-size: 40px;
    margin: 0 0 0 10px;
  }
  .bannersection{
    background: url('../img/banner.jpg')no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 120px 0px;
  }
  .banner {
    max-width: 635px;
  }
  .banner h1 {
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  .banner p {
    color: #fff;
    font-size: 30px;
  }
  .banner button {
    padding: 15px 45px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 60px;
    background: #4bac07;
  }
  .servicesection{
    padding: 75px 0;
  }
  .service {
    margin-left: 75px;
  }
  .service h2 {
    color: #8c8b8b;
    font-size: 40px;
    padding: 25px 0;
  }
  .service p{
    color: #8c8b8b;
    font-size: 19px;
  }
  .serviceimg{
    background: #e8e8e8;
    border: 5px solid #fff;
    box-shadow:0 -2px 2px 0 #999;
    padding: 30px 0;
  }
  .serviceimg i {
    font-size: 80px;
    color: #fff;
  }
  .testimonial {
    padding: 70px 0;
  }
  .clientheading {
    margin-bottom: 55px;
  }
  .clientheading h2 {
    background: #52b106;
    max-width: 340px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px;
    font-size: 25px;
  }
  .clientimg{}
  .clientimg img {
    border: 8px solid #fff;
    box-shadow: 0px 0px 3px 1px #999;
    width: 100%;
  }
  .clientspeech {
    margin-top: 40px;
  }
  .clientspeech i {
    font-size: 40px;
    color: #e6e6e6;
    margin-left: 34px;
  }
  .clientspeech p {
    color: #8c8b8b;
    font-size: 20px;
    text-align: center;
  }
.address{
  padding: 75px 0;
}
.addheading {
    padding-bottom: 45px;
}
.addheading h2 {
    background: #52b106;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    max-width: 262px;
    margin: 0 auto;
}
.house{}
.house i {
    background: #e6e6e6;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 40px;
    color: #fff;
    margin-right: 20px;
}
.roadname {
  float: right;
  margin-right: 30px;
}
.house span {
    font-size: 20px;
    color: #939292;
}
.social {
    padding-top: 85px;
}
.social i {
    background: #e6e6e6;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    border-radius: 30px;
}
.mymap{}
#map {
      width: 300px;
      height: 250px;
    }
.footersection {
    background: #333;
    color: #fff;
    padding: 5px 0;
}
.footersection p {
    font-size: 25px;
    padding-top: 8px;
}
#scrollToUp {
    background: #52B106;
    width: 65px;
    height: 64px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
#scrollToUp i {
    color: #fff;
    font-size: 50px;
    padding-top: 8px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

 .hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }
